
/*-- start information-hero --*/ /*-- Moamen Gamal --*/
.information-hero{
	width: 100%;
	background-image:url("../image/workshopimage.jpg");
	height:500px;
	background-size: 100% 100%;
}

.information-hero .information-words{
	display: flex;
	width: 100%;
	height: 500px;;
	align-items: center;
	justify-content: center;
	color:rgb(248, 224, 6);
}

.information-hero .information-word{
	font-size: 60px;
	text-transform: uppercase;
	font-weight: bold;
}

/*-- end information-hero --*/ /*-- Moamen Gamal --*/

/*-- start information-icons --*//*-- Moamen Gamal --*/

.information-icons{
	height: 250px;
	background-color: #cacaca;
}

.information-icons .information-icon{
	margin-top: 80px;
	text-align: center;
}

/*-- end information-icons --*//*-- Moamen Gamal --*/



/*-- start workshops nav --*/ /**sara tarek***/

.workshops_main {
	justify-content: space-around;
	margin: 40px 0;
	position: relative;
}

.workshops-nav-aside{
	background-color:#e6e6e6;
    border-radius: 20px 20px 0 0; 
}

.workshops-nav-aside .workshops-nav-ul .workshops-nav-li {
    cursor: pointer;
    list-style: none;
    padding-top: 50px;
	text-align: center;
}

.workshops-nav-aside .workshops-nav-ul .workshops-nav-li a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    font-weight: bold;
	transition: .3s;
}

.workshops-nav-aside .workshops-nav-ul .workshops-nav-li a:hover{
    color: #ffb40b;
}


/*-- end workshops nav --*/ /*-- sara tarek --*/


/*-- start workshop-information --*//* eman elomda */
.information-parent{
	background-color:#e6e6e6;
	border-radius: 20px 20px 0px 0px;
	padding: 40px 20px ;
	width: 80%;
}

.information-content{
	background-color: #cacaca;
	margin: 20px 10px 30px 10px;
	border-radius: 20px;
	padding: 15px;
}

.iformation-h2{
	margin-bottom: 30px;
	text-align: center;
	color: #232220;
}

.iformation-p{
	color: #232220;
}

.information-date{
	text-align: center;
}

.workshops_main .information-parent .information-content .join-button{
	background-color: #ff9800;
	text-align: center;
	padding: 8px;
	width: 170px;
	height: 35px;
	border-radius: 20px;
	border-style: none;
	color: #ffffff;
	outline: none;
}

.information-parent #menu{
	display: none;
}
.information-parent .menu-bar{
	display: none;
}



  /*-- end workshop-information --*/ /* eman elomda */




/* Small Mobile */

@media only screen and (max-width: 768px) 
{
	.information-parent .menu-bar{ 
		display: block;
	}
}

@media (max-width: 768px)
{
	.workshops-nav-aside{
		/*display: none;*/
		position: absolute;
		width: 80%;
		height: 90%;
		background-color: #e6e6e6;
		transition: .5s;
		top: 75px;
		left: -100%;
		z-index: 20;
	}

	.active {
		left: 10%;
	}

	.workshops-nav-aside ul{
		display: block;
	}

	.menu-toggle{
		display: block;
	}
}
.workshops-nav-aside .workshops-nav-ul .workshops-nav-li .active {
	color: #ffb40b;
}